<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Server=localhost;Port=3306;Database=hospital;Uid=root;Pwd=158358752952;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>